@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url(assets/reset.css);
@import url(assets/variables.css);
@import url(assets/header.css);
@import url(assets/main.css);
@import url(assets/footer.css);

.main-div {
    display: grid;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

body {
    overflow-x: hidden;
}