@import url(variables/colors.css);
@import url(variables/sizes.css);

footer {
    grid-area: footer;
    height: var(--footer-height);
    background-color: var(--footer-bgcolor);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    gap: 10px;
    font-size: 14px;
    padding-left: 5vw;
    padding-right: 5vw;
}

.copyright {
    color: var(--footer-color);
}

.footer-links {
    color: var(--footer-color);
    margin-top: -11px;
    margin-bottom: 3px;
}

.footer-links a {
    color: var(--link-color);
}

.footer-links a:hover {
    text-decoration: underline;
    color: #004788;
}