footer {
    grid-area: footer;
    height: 120px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    gap: 10px;
    font-size: 14px;
    padding-left: 5vw;
    padding-right: 5vw;
}

.copyright {
    color: #959595;
}

.footer-links {
    color: #959595;
    margin-top: -11px;
    margin-bottom: 3px;
}

.footer-links a {
    color: #337ab7;
}

.footer-links a:hover {
    text-decoration: underline;
    color: #004788;
}