@import url(variables/colors.css);
@import url(variables/sizes.css);

header {
    height: var(--header-height);
    grid-area: header;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 12vw;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background-color: var(--header-bgcolor);
}

header .logo {
    line-height: 50px;
    font-size: 18px;
    color: var(--header-color);
    padding-right: 15px;
}

.logo:hover {
    color: white;
}

header nav ul li {
    position: relative;
    float: left;
}

header nav ul li a {
    font-size: 0.9rem;
    padding: 16px;
    color: var(--header-color);
    display: block;
}

header nav ul li a:hover {
    color: #ffffff;
}

.now-page-link {
    color: white !important;
    background-color: #000000
}

.submenu a:hover {
    color: var(--dark-gray);
    background-color: #eeeeee;
}

.submenu li:first-of-type {
    margin-top: 5px;
}

.submenu li:last-of-type {
    margin-bottom: 5px;
}

.submenu {
    position: absolute;
    width: 160%;
    height: 90px;
    background-color: #ffffff;
    display: none;
    border-radius: 0 0 4px 4px;
    border: 0.1px solid gray;
}

.submenu li a {
    color: var(--dark-gray);
    padding: 5px 20px;
    width: 100%;
}

header nav ul li:focus-within > ul,
header nav ul li:hover > ul {
    display: flex;
    flex-direction: column;
}

#menu-bar {
    display: none;
}

#menu-icon {
    transform: scale(1.7, 1.5);
    color: #ffffff;
    border: 0.7px solid var(--dark-gray);
    border-radius: 3px;
    padding: 1px 3px 0 3px;
    margin-right: 20px;
}

#menu-icon:hover {
    background-color: var(--dark-gray);
}

header label {
    font-size: 20px;
    color: var(--dark-gray);
    cursor: pointer;
    display: none;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

input {
    height: 2.2rem;
    width: 12rem;
    padding: 4px 8px 4px 8px;
    font-size: 0.9rem;  
    font-weight: lighter;
    border: none;
    border-radius: 4px;
    transition: 0.3s;
    margin-right: 4px;
    margin-top: 7px;
    margin-left: 27vw;
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px 0 #007bff;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

header button {
    height: 2.2rem;
    width: 4.5rem;
    padding: 4px 10px 4px 10px;
    font-size: 0.9rem;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

header button:hover {
    background-color: #dbdbdb;
}

header button:active {
    background-color: #dbdbdb;
    box-shadow: inset 0 0 0 2px black;
}

@media screen and (max-width: 1470px) {
    header {
        padding-left: 1vw;
        padding-right: 1vw;
    }

    input {
        margin-left: 20vw;
    }
}

@media screen and (max-width: 1000px) {
    header {
        padding-left: 0.5vw;
        padding-right: 0.5vw;
    }

    input {
        margin-left: 17vw;
    }
}

@media screen and (max-width: 900px) {
    input {
        margin-left: 13vw;
    }
}

@media screen and (max-width: 800px) {
    header {
        padding: 20px;
        justify-content: space-between;
        height: 50px;
    }

    header label {
        display: initial;
    }

    header nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--header-bgcolor);
        display: none;
    }

    header nav ul {
        margin-top: 10px;
    }

    .now-page-link {
        box-shadow: 
            1px -1px 0 var(--header-bgcolor),
            1px -2px 0 var(--header-bgcolor),
            1px -3px 0 var(--header-bgcolor),
            1px -4px 0 var(--header-bgcolor),
            1px -5px 0 var(--header-bgcolor),
            1px -6px 0 var(--header-bgcolor),
            1px -7px 0 var(--header-bgcolor),
            1px -8px 0 var(--dark-gray),
            1px -9px 0 black;
    }

    header nav ul li {
        width: 100%;
    }

    input {
        width: 95%;
        margin-top: 21px;
        margin-left: 15px;
        margin-bottom: 10px;
    }

    button {
        margin-bottom: 10px;
        margin-left: 15px;
    }

    .submenu {
        position: relative;
        width: 100%;
        border: 0;
    }

    .submenu li {
        background-color: var(--header-bgcolor);
    }

    .submenu li a:hover {
        background-color: var(--header-bgcolor);
        color: #ffffff;
    }

    .submenu li a {
        color: var(--header-color);
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .submenu li:first-of-type {
        margin-top: 0;
    }
    
    .submenu li:last-of-type {
        margin-bottom: 0;
    }

    #menu-bar:checked ~ nav {
        display: flex;
        flex-direction: column;
    }
}