@import url(variables.css);

/* Green Zone */

main {
    grid-area: main;
}

.main-green-zone {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 338px;
    background-color: #9acd32;
    color: #adff2f;
    text-align: center;
    padding-top: 115px;
    padding-left: 1vw;
    padding-right: 1vw;
}

h1  {
    font-size: 63px;
    font-weight: 100;
}

.main-green-zone p {
    font-size: 21px;
    font-weight: 200;
    margin-top: -22px;
    line-height: 1.5em;
}

.main-green-zone a {
    width: 106px;
    margin: auto;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 6px 9px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid #2e6da4;
    border-radius: 4px;
    margin-top: -18px;
}

.main-green-zone a:hover {
    background-color: #2a6599;
}

/* White Zone */

.main-white-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 12vw;
    padding-right: 12vw;
    padding-bottom: 30px;
}

.divs700x300 {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

img {
    width: var(--ramka-width);
    height: var(--ramka-height);
    border-radius: 6px;
}

.description700x300 {
    width: var(--ramka-width);
    color: #959595;
    font-size: 14px;
    line-height: 1.5em;
}

.divs700x300 a:nth-child(2) {
    color: #337ab7;
    font-size: 24px;
    margin-top: 19px;
    margin-bottom: 9px;
    width: var(--ramka-width);
}

.divs700x300 a:nth-child(2):hover {
    text-decoration: underline;
    color: #004788;
}

.divs700x300 div {
    display: flex;
    flex-direction: column;
}

.main-white-zone h2 {
    padding-top: 50px;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
}

.main-white-zone h2 span {
    font-size: 65%;
    font-weight: 400;
    line-height: 1;
    color: #777;
}

.w-zone-p1 {
    width: calc(var(--ramka-width) * 3 + 90px);
    color: #959595;
    text-align: center;
    font-size: 14px;
    line-height: 1.42857143;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Orange Zone */

.main-orange-zone {
    background-color: #daa520;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    padding: 60px 12vw;
}

.div100x100 {
    height: 100px;
    width: 100px;
    background-color: #ededed;
    border-radius: 50px;
}

.div-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.div-form:nth-child(1) {
    margin-right: 60px;
}

.div-form:nth-child(3) {
    margin-left: 60px;
}

.div-form p:nth-child(2) {
    width: 300px;
    font-size: 24px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

.div-form p:nth-child(3) {
    font-size: 14px;
    width: 330px;
    line-height: 1.42857143;
}

.div-form a {
    padding: 6px 12px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.div-form a:hover {
    background-color: #ececec;
}

.div100x100 p {
    font-weight: bold;
    color: #ababab;
    font-size: 13px;
    line-height: 100px;
}

@media screen and (max-width: 1500px) {
    .main-white-zone, 
    .main-orange-zone {
        padding-right: 1vw;
        padding-left: 1vw;
    }
}

@media screen and (max-width: 1200px) {
    :root {
        --ramka-width: 300px;
    }

    .div-form p:nth-child(3),
    .div-form p:nth-child(2) {
        width: 260px;
    }
}

@media screen and (max-width: 1000px) {
    :root {
        --ramka-width: 260px;
    }

    .main-green-zone {
        height: 369px;
        padding-left: 11vw;
        padding-right: 11vw;
    }
}

@media screen and (max-width: 930px) {
    .div-form p:nth-child(3),
    .div-form p:nth-child(2) {
        width: 200px;
    }

    .main-orange-zone {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 900px) {
    :root {
        --ramka-width: 250px;
    }
}

@media screen and (max-width: 800px) {
    .divs700x300 {
        flex-direction: column;
    }

    .w-zone-p1 {
        width: var(--ramka-width);
    }

    .main-white-zone {
        padding-right: 3vw;
        padding-left: 3vw;
    }

    .main-orange-zone {
        padding-left: 2vw;
        padding-right: 2vw;
        flex-direction: column;
    }

    .div-form:nth-child(1) {
        margin-right: 0;
    }
    
    .div-form:nth-child(3) {
        margin-left: 0;
    }

    .div-form p:nth-child(2) {
        width: 100%;
    }

    .div-form:nth-child(n + 2) {
        padding-top: 65px;
    }

    .div-form p:nth-child(3) {
        width: 100%;
    }

    :root {
        --ramka-width: 700px
    }
}

@media screen and (max-width: 770px) {
    h1 {
        font-size: 36px;
    }

    .main-green-zone {
        padding-top: 100px;
        height: 304px;
    }

    :root {
        --ramka-width: 550px;
    }
}

@media screen and (max-width: 700px) {
    :root {
        --ramka-width: vw;
    }
}

@media screen and (max-width: 560px) {
    .main-green-zone {
        padding-left: 2vw;
        padding-right: 2vw;
    }
}

@media screen and (max-width: 470px) {
    .main-green-zone {
        height: 333.5px;
        padding-left: 5vw;
        padding-right: 5vw;
    }
}

@media screen and (max-width: 369px) {
    .main-green-zone {
        height: 372.5px;
    }
}

@media screen and (max-width: 337px) {
    .main-green-zone {
        height: 402px;
    }
}